body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.centered-header {
    background-color: #007ACC;
    color: #FFA500;
    padding: 10px;
}

.centered-header h1 {
    font-size: 24px;
    font-weight: 600;
}

.video-container {
    margin: 20px auto;
}

.button-container {
    margin: 20px;
}

button {
    background-color: #007ACC;
    color: #FFA500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.video-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.video-list video {
    margin: 10px;
}

.link-container {
    text-align: center;
}

a {
    color: #007ACC;
    text-decoration: none;
    font-weight: bold;
}

.privacy-button {
    font-weight: bold;
    color: red;
    margin-left: 10px;
}

.specials-button {
    font-weight: bold;
    color: orange;
    margin-left: 10px;
}

.old-button {
    font-weight: bold;
    color: #007ACC;
    margin-left: 10px;
}

.button-container {
    text-align: center;
}

.orange-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
